@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-primario: #000000;
    --color-secundario: #f6f6f6;
    --color-terciario: #DF9755;
    --color-hover: #272727;
    --color-section: #F8F2DE;

    --fuente-monserrat: "Montserrat", serif;
    --fuente-krona: "Krona One", serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    background-color: var(--color-primario);
    color: var(--color-secundario);
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between; /* Separa el logo y el menú */
    align-items: center; /* Centra verticalmente */
    padding: 15px 50px;
    background-color: var(--color-primario); /* Color del fondo */
    position: fixed; /* Fijar el header en la parte superior */
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000; /* Asegura que esté sobre otros elementos */
}

.logo img {
    height: 80px; /* Ajusta el tamaño del logo */
}

.nav-links {
    display: flex;
    gap: 30px; /* Espacio entre los enlaces */
}

.nav-links a {
    text-decoration: none;
    color: #F6F6F6; /* Color del texto */
    font-weight: bold;
    font-family: var(--fuente-monserrat);
    font-size: 20px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #E6A15D; /* Cambia de color al pasar el mouse */
}

.header_menu_link {
    font-family: var(--fuente-monserrat);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-terciario);
    text-decoration: none;
}

strong {
    color: var(--color-terciario);
}

.titulo-destaque {
    color: var(--color-terciario);
}

.presentacion {
    display: flex;
    align-items: center;
    padding: 5% 15%;
    justify-content: space-between;
    gap: 82px;
}

.presentacion__contenido {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url("/assets/imagen_fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.presentacion__contenido__titulo {
    font-size: 2rem;
    font-weight: 800;
    font-family: var(--fuente-monserrat);
    padding: 0px 30px 0px 30px;
    margin-bottom: 20px;
    text-align: center;
}

.boton {
    background: var(--color-terciario);
    font-family: var(--fuente-monserrat);
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 25px;
    transition: 0.3s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
}

.boton:hover {
    background-color: #DF6D14;

}

body {
    font-family: var(--fuente-monserrat);
    text-align: center;
}


#calendar-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--color-section);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
    z-index: 1000;
}

.hidden {
    display: none;
}

/* Estilos para la "X" de cerrar */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: var(--color-terciario);
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
}

.close-btn:hover {
    background-color: darkred;
}

/* Estilos de las horas disponibles */
.time-slot {
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    border: 1px solid var(--color-terciario);
    color: var(--color-terciario);
    cursor: pointer;
    border-radius: 5px;
}

.time-slot.selected {
    background-color: var(--color-terciario);
    color: white;
}

.time-slot.disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}

#fecha-hora {
    color: var(--color-terciario);
    font-size: 20px;
    margin-top: 10px;
}

#continue-to-form {
    background: var(--color-terciario);
    /* Azul vibrante */
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

#date-picker {
    margin-top: 18px;
    border-radius: 5px;
}

#leyenda {
    color: var(--color-primario)
}

.servicios {
    text-align: center;
    margin-top: 80px;
}

.subtitulo {
    color: var(--color-terciario);
    font-family: var(--fuente-monserrat);
    font-size: 2rem;
    margin-bottom: 25px;
    margin-top: 80px;
    font-weight: bold;

}

.leyenda_servicios {
    line-height: 1.15;
    font-family: var(--fuente-monserrat);
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

li {
    margin-bottom: 20px;
}

.info_servicios {
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}

.iconos {
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin: 0 auto;
}

.icono {
    width: 40 px;
}

.titulo_icono_bug {
    font-size: 23px;
    font-family: var(--fuente-monserrat);
}

.titulo_icono_bot {
    font-size: 23px;
    font-family: var(--fuente-monserrat);
}

.titulo_icono_machine {
    font-size: 23px;
    font-family: var(--fuente-monserrat);
}

.parrafo_servicios {
    font-size: 18px;
    font-family: var(--fuente-monserrat);
}

.garantia {
    background-color: var(--color-section);
    background-image: radial-gradient(var(--color-terciario) 0.5px, transparent 0.5px), radial-gradient(var(--color-terciario) 0.5px, var(--color-section) 0.5px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    overflow: hidden;
    margin-top: 80px;

}

.garantia_servicios {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Mantiene dos columnas */
    gap: 2em;
    align-items: stretch;
    /* Hace que ambas columnas tengan la misma altura */
}

.garantia_texto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
    padding: 0px 5px 0px 30px;
}

#conoce {
    text-decoration: none;
    width: 100%;
}

.lista_servicios {
    color: var(--color-primario);
}

.item_lista {
    background-color: rgba(0, 0, 0, 0.07);
    padding: 10px;
    border-radius: 8px;
    font-family: var(--fuente-monserrat);

}

#promesa {
    color: var(--color-primario);
    font-family: var(--fuente-monserrat);
    margin-top: 35px;
    margin-bottom: 35px;

}

#promesa_resaltada {
    font-weight: bold;
}

.garantia_picture {
    max-width: 400px;
}


.garantia_img {
    width: 100%;
    display: block;
}

.contenedor-boton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: auto;
    /* Empuja el botón hacia abajo */
    padding-top: 20px;
    /* Ajusta según sea necesario */
}

.redes_sociales {
    margin-top: 80px;
}

.presentacion__contenido__texto {
    font-size: 1.2rem;
    font-family: var(--fuente-monserrat);
    text-align: justify;
    margin-bottom: 40px;
}

.presentacion__enlaces {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

.presentacion__enlaces__link {
    width: 25%;
    text-align: center;
    padding: 21.5px 0;
    border-radius: 8px;
    font-family: var(--fuente-monserrat);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-secundario);
    border: 2px solid var(--color-terciario);
    display: flex;
    justify-content: center;
    gap: 10px;
}

.presentacion__enlaces__link:hover {
    background-color: var(--color-hover);

}

.presentacion_imagen {
    width: 35%;
}

.presentacion__contenido__texto a {
    text-decoration: none;
    color: var(--color-terciario);
}

footer {
    background-color: var(--color-terciario);
    padding: 15px 0 15px 0;
    color: var(--color-primario);
    text-align: center;
    font-family: var(--fuente-monserrat);
    margin-top: 80px;
    min-height: 60px;
    /* Define una altura mínima */
    height: 30%;
    /* Permite que el contenido determine la altura */
}

.presentacion__enlaces__subtitulos {
    font-family: var(--fuente-monserrat);
    font-size: 1.5rem;
    font-weight: 400;
}

.servicios-intro {
    text-align: center;
    padding: 60px 20px;
    background-color: var(--color-section);
    color: var(--color-terciario);
    font-weight: bold; 
}

.titulo-servicios{
    font-size: 30px;
}

.descripcion-servicios{
    margin-top: 40px;
    font-size: 20px;
}

.parrafo-pagina-servicios{
    margin-top: 40px;
    margin-bottom: 40px;
}

.servicio-info li {
    display: flex;
    align-items: center;
    gap: 10px; /* Espacio entre el icono y el texto */
}

.servicio-detalle {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 50px 10%;
}

.servicio-detalle.reverse {
    flex-direction: row-reverse;
}

.servicio-info {
    flex: 1;
}

.servicio-detalle img {
    width: 150px;
}

.servicio-info h2 {
    font-size: 2rem;
    color: var(--color-terciario);
}

.servicio-info p {
    font-size: 1.2rem;
}

.servicio-info ul {
    list-style: none;
    padding: 0;
}

.servicio-info li {
    font-size: 1.1rem;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.servicio-info li i {
    margin-right: 10px;
    color: var(--color-terciario);
}

.cta {
    text-align: center;
    padding: 50px 0;
    background-color: var(--color-section);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px; /* Espacio entre el texto y el botón */     
}

.cta h2 {
    font-size: 2rem;
    color: var(--color-terciario);
}

.boton {
    background: var(--color-terciario);
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    text-transform: uppercase;
}

.boton:hover {
    background-color: #DF6D14;
}

/* Responsivo */
@media (max-width: 768px) {
    .servicio-detalle {
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width:1200px) {

    .header {
        padding: 10%;
    }

    .header_menu {
        justify-content: center;
    }

    .presentacion {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .presentacion__contenido {
        width: auto;
    }

}